@import '../../scss/variables.scss';

@mixin wrapper {
  position: relative;
  padding: 16px;
  margin: 8px;
  border-radius: 4px;
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperNorm {
  @include wrapper;
  background-color: $color-chips-background;
}

.wrapperAlarm {
  @include wrapper;
  background-color: $color-chips-background-alarm;
}

.input {
  @include text;
  background: none;
  border: none;
  outline: none;
}

.closeBtn {
  position: absolute;
  right: 16px;

  display: inline-block;
  stroke: $color-text;
  background: none;
  border: none;
  outline: none;

  width: 20px;
  height: 20px;

  padding: 0;
  margin: 0;

  &:hover {
    filter: brightness(50%);
  }
}
