@import '../../scss/variables.scss';

.wrapper {
  position: relative;
  border-radius: 4px;
  background-color: $color-chips-background;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
  margin: 8px;
  height: max-content;
}

.wrapperAlarm {
  background-color: $color-chips-background-alarm;
}

.wrapperSelect {
  background-color: $color-chips-background-select;
  border: $color-chips-border-select solid 3px;
  padding: 5px;
}

.input {
  @include text;
  background: none;
  border: none;
  outline: none;
}

.closeBtn {
  position: absolute;
  right: 16px;

  display: inline-block;
  stroke: $color-text;
  background: none;
  border: none;
  outline: none;

  width: 20px;
  height: 20px;

  padding: 0;
  margin: 0;

  &:hover {
    filter: brightness(50%);
  }
}

.closeBtnSelect {
  right: 13px;
}
