@import '../../scss/variables.scss';

.wrapper {
  width: 768px;

  padding: 16px;
  background-color: $color-wrapper-background;
  border-radius: 8px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@mixin input {
  height: 25px;
  padding: 16px;
  margin: 8px;
  outline: none;
  border: none;
  background: none;
}

.inputNorm {
  @include input;
  @include text($color-text);
}

.inputAlarm {
  @include input;
  @include text($color-text-alarm);
}
