@import '../../scss/variables.scss';

.wrapper {
  width: 768px;
  min-width: 100px;
  min-height: 40px;

  padding: 16px;
  background-color: #d8ecf0;
  border-radius: 8px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.input {
  padding: 16px;
  margin: 8px;
  outline: none;
  border: none;
  background: none;
  height: 25px;

  // color: $color-text;
  // font-size: 20px;
  // line-height: 20px;
  @include text;
}
