@import '../../scss/variables.scss';

.wrapper {
  width: 768px;
  padding: 16px;
  border-radius: 8px;
  background-color: $color-wrapper-background;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.input {
  height: 25px;
  margin: 16px;
  outline: none;
  border: none;
  background: none;
  @include text($color-text);
}

.inputAlarm {
  @include text($color-text-alarm);
}
